/build
/cache/**/*.iyem
/dist
/nbproject/build-impl.xml
/nbproject/build-native.xml
/nbproject/private
.DS_Store
*.DS_Store
**/.DS_Store
**/*.[*]~
**/*.*~
**/*.~*
**/*.css
**/*.csv
**/*.doc
**/*.docx
**/*.DS_Store
**/*.exe
**/*.html
**/*.html_files
**/*.jar
**/*.jasper
**/*.log
**/*.pdf
**/*.ppt
**/*.pptx
**/*.sql
**/*.wps
**/*.xls
**/*.xlsx